
.login-container {
    
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 110px;

    .login-wraper {

        width: 350px;
        // height: 396px;
        border: 1px solid #dbdbdb;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 45px;
        padding-bottom: 20px;
        background-color: #ffffff;

        .logo-text{
            
            color: #8e8e8e;
            font-size: 17px;
            font-weight: 500;
            line-height: 20px;
            margin: 0 40px 10px;
            text-align: center; 
            margin-top: -18px;
            
        }

        .login-with-fb{


          
            width: 268px;
            height: 30px;               
            margin: 0 40px 6px;
            margin-top: 8px;
            margin-bottom: 15px;
            border: 1px solid #00000000;
            font-size: 12px;
            font-weight: 400;
            background-color: #0095f6;
            padding-left: 8px;
            border-radius: 4px;
            color: #ffffff;
            font-weight: 500;
            font-size: 14px;
            
    
            svg {
                display: inline-block;
                margin-right: 8px;
                position: relative;
                height: 16px;
                width: 16px;
            }
            
    
            }

        .login-form{

            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 8px;

            .login-input{

                width: 268px;
                height: 36px;
                gap: 6px;
                margin: 0 40px 6px;
                border: 1px solid #dbdbdb ;
                font-size: 12px;
                font-weight: 400;
                background-color: #fafafa;
                padding-left: 8px;
                border-radius: 3px;
                
               
            }

            .login-submit{

                width: 194px;
                height: 36px;               
                margin: 0 40px 6px;
                margin-top: 8px;
                margin-bottom: 15px;
                border: 1px solid #00000000;
                font-size: 12px;
                font-weight: 400;
                background-color: #b2dffc;
                padding-left: 8px;
                border-radius: 4px;
                color: #ffffff;
                font-weight: 500;
                font-size: 14px;

            }

            .form-text{
                
                color: #8e8e8e;
                font-size: 12px;
                line-height: 16px;
                margin: 10px 40px;
                text-align: center;

                .form-text-link{
                     
                    color: #8e8e8e;
                    text-decoration: none;
                    font-weight: 500;
                }
            }

        }

        .divider{


            text-transform: uppercase;
            font-size: 13px;
            font-weight: 500;
            color: #8e8e8e;
            position: relative;
            
            text-align: center;
            width: 77%;
            height: 30px;

            &::before {

                content: '';
                display: block;
                clear: both;

                width: 40%;
                position: absolute;
                height: 1px;
                background-color: #dbdbdb;
                left: 0;
                top: 10px;
            }

            &::after {

                content: '';
                display: block;
                clear: both;

                width: 40%;
                position: absolute;
                height: 1px;
                background-color: #dbdbdb;
                right: 0px;
                top: 10px;
                
            }

        }
        
     


        
    }


    .singup-wrapaer{

        width: 350px;
        padding: 25px;
        margin-top: 10px;
        border: 1px solid #dbdbdb;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #ffffff;


       .signup-text{
        color: #262626;
        font-size: 14px;
        
        line-height: 18px;
        font-weight: 400;

      

       }

       .sign-up-link{
        
        color: #0095f6;
        font-size: 14px;
        font-weight: 500;

        
        text-decoration: none;
    }

       

    }

    .get-app{

        display: flex;
        flex-direction: column;
        width: 350px;
        align-items: center;

        .app-text{

            font-size: 14px;
            line-height: 18px;
            margin: 20px 20px 20px 20px;
            text-align: center;

        }
        

        .app-logo{
        
            text-align: center;
            display: flex;
            justify-content: center;
            gap: 8px;

            img{
                
                height: 40px;
                
            }

        }


    }
    
}



