


.home-container{
     
    display: flex;
    justify-content: center;

    .home-wraper{
        
    width: 821px;
    display: flex;
    justify-content: center;
    gap: 35px;
   

    .time-line{

        width: 470px;

        .post-card{
            background-color: #ffffff;
            margin: 30px 0px;
            border: 1px solid #dbdbdb;
            border-radius: 8px;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            


            .psot-card-header{

                width: 470px;
                height: 58px;
                display: flex;
                justify-content: space-between;
                padding: 0px 4px;
                align-items: center;

                .post-user-info{

                    display: flex;
                    align-items: center;
                    

                    img{

                        width: 35px;
                        height: 35px;
                        cursor: pointer;
                        border-radius: 50%;
                        margin-right: 6px;
                        margin-left: 5px;
                    }

                    .user-details{

                        display: flex;
                        flex-direction: column;
                        margin-left: 5px;

                       a{
                        font-size: 14px;
                        color: #515151;
                        text-decoration: none;
                        font-weight: 500;
                       }

                       .location{

                            font-size: 12px;
                            color: #515151;
                       }
                    }
                }

                .post-opt-btn{

                    button {
                        border: none;
                        background-color: transparent;
                        padding-right: 10px;
                    }
                }
    
            }

            .post-image{

                height:100%;
                
                

                img{
                 
                    width: 100%;
                    
                  
                    
                }
                
             
            }


            .timeline-icons{

                display: flex;
                width: 100%;
                padding: 15px 10px;
                justify-content: space-between;
                align-items: center;
               

                .icons-left{

                    display: flex;
                    align-items: center;
                    gap: 12px;

                   

                    a{

                        &:hover{

                            svg{

                                color: #dbdbdb;
                            }
                        }
                    }

                   
                }

                .icon-right{

                    a{
                        &:hover{

                            svg{

                                color: #dbdbdb;
                            }
                        }
                    }
                }

            }


            .post-details{

                width: 100%;
                padding: 0px 12px;


                .likes{

                    font-size: 14px;
                    font-weight: 500;
                    
                }

                .post-content{

                    font-size: 14px;
                    color: black;
                    margin-bottom: 5px;
                    margin-top: 10px;

                    a{
                        text-decoration: none;
                        color: black;
                        font-weight: 500;
                    }
                }

                .post-comments{

                    font-size: 14px;
                    color: #8E8E8E;
                    margin-top: 10px;
                }

                .post-time{

                    font-size: 11px;
                    color: #8E8E8E;
                    margin: 10px 0;
                }

            }

            .post-comments-area{

                 width: 100%;
                 height: 60%;
                 border-top: 1px solid #dbdbdb;
                 display: flex;
                 align-items: center;
                 padding: 0px 10px;
                 justify-content: space-between;

                
                input{

                    border: none;
                    font-size: 14px;
                    padding: 10px 0px;
                    width: 85%;
                } 

                button{

                    border: none;
                    background-color: #ffffff;
                    font-size: 14px;
                    color: #0095f6;
                    font-weight: 500;
                }
            }
        }
       

    }

    .user-info{
       
        width: 319px;
        margin-top: 30px;
        
       
        
            .user-info-details{
             
                width: 100%;
                display: flex;
                justify-content: space-between;

             

            .user-details{

                display: flex;
                gap: 10px;
                
                
                      .user-name{

                        display: flex;
                        flex-direction: column;
                        justify-content: center;

                        .username{
                             
                            font-size: 14px;
                            font-weight: 500;
                            color: black;

                        }
                        .name{

                            font-size: 14px;
                            font-weight: 500;
                            color: #8E8E8E;
                        }
                      }
                img{
        
                    height: 60px;
                    width: 60px;
                    object-fit: cover;
                    border-radius: 50%;
                }


              }
                
              .user-details-btn{
                   
               button{

                border: none;
                background-color:#fafafa;
                font-size: 12px;
                font-weight: 500;
                color: #0095f6;
                padding-top: 20px;
               }

              }


            }


            .Suggestions-info-details{

                width: 100%;
                display: flex;
                justify-content: space-between;
                margin-top: 30px;


                .Suggestions-details{
                     
                .Suggestion-name{
                       
                    color: #8E8E8E;
                    font-size: 15px;
                    font-weight: 500;
                     
                }

            


            }


              .Suggestion-btn{

                button{

                    color: black;
                    border: none;
                    font-size: 13px;
                    background-color: #fafafa;
                    font-weight: 500;
                }
            }
            }

            .user-Suggestions-profile{

                width: 100%;
                display: flex;
                justify-content: space-between;
                margin-top: 30px;
                margin-left: 10px;


                .user-details-profile{
                          
                    display: flex;
                    gap: 10px;

                    img{

                        height: 32px;
                        width: 32px;
                        border-radius: 50%;
                    }

                    .user-id{
                          
                      display: flex;
                      flex-direction: column;
                      justify-content: center;

                        .username-id{

                            font-size: 14px;
                            font-weight: 500;
                            color: black;
                        }
                        .user-id-details{

                            font-size: 12px;
                            font-weight: 400;
                            color: #8E8E8E;
                        }
                    }
                }

              .follower-btn{

                button{

                       border: none;
                       background-color: #fafafa;
                       font-size: 13px;
                       font-weight: 500;
                       color: #0095f6;
                       margin-top: 12px;
                       margin-right: 20px;
                }
              }

            }





            .user-info-footer{

                display: flex;
                flex-direction: column;
                
                margin-top: 40px;
                
               
                
            
                ul {
            
                    display: flex;
                    gap : 5px;
                    margin-left: -36px;
            
                    li{

                        
                        a{
                            text-decoration: none;
                            color: #8e8e8e;
                            font-size: 12px;
                            font-weight: 400;
                            line-height: 16px;
                        
                            
                        }
                    }
            
                }
            
                .user-copy-right-text{
            
                     display: flex;
                     color: #8e8e8e;
                     font-size: 12px;
                     font-weight: 400;
                     line-height: 16px;
                     gap: 13px;
                     margin-bottom: 50px;
            
                     select{
            
                        border: none;
                        color: #8e8e8e;
                     }
            
                }
            }
   
      
    }


 }
}